# Environment Variables / 環境変数

# General / 全般

# `DEBUG`, `INFO`, `WARNING`, `ERROR`
LOG_LEVEL=INFO
# `True`, `False`
IS_DEVELOPMENT=True
PORT=8000
# e.g. data/llm_instruction.txt
LLM_INSTRUCTION_FILE_PATH=data/llm_instruction.txt
LLM_MAX_MESSAGES=-1
LLM_INCLUDES_OTHER_BOT_MESSAGES=False

# LLM Related / LLM 関連

# `azure`, `openai`
LLM_PROVIDER=
# e.g. gpt-4.1-mini
LLM_NAME=
# Azure: 要, OpenAI: 不, e.g. gpt-4.1-mini-dev-001
LLM_DEPLOY_NAME=
# e.g. Azure: https://oai-foo-dev.openai.azure.com/, OpenAI: https://api.openai.com/
LLM_ENDPOINT=
LLM_API_KEY=
# Azure: 要, OpenAI: 不, e.g. 2025-01-01-preview
LLM_API_VER=
# 0.0-1.0
LLM_TEMPERATURE=0.8

# Slack Related / Slack 関連

# `True`, `False`
# SLACK_IS_SOCKET_MODE=True
SLACK_APP_TOKEN=
SLACK_BOT_TOKEN=
SLACK_SIGNING_SECRET=
SLACK_MAX_THREAD_MESSAGES=15
